@using FI.AtividadeEntrevista.BLL;
@using FI.AtividadeEntrevista.DML;

<form id="formCadastro" method="post">
    <input class="form-control invisible" type="text" id="GlobalIdCliente" value="@Request.QueryString["Id"]" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Sobrenome">Sobrenome:</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="255">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Cpf">CPF:</label>
                <input required="required" type="text" class="form-control" id="Cpf" name="Cpf" placeholder="Ex.: 45667581841" maxlength="11">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nacionalidade">Nacionalidade:</label>
                <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="CEP">CEP:</label>
                <input required="required" type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex.: 01011-100" maxlength="9">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select required="required" id="Estado" class="form-control" name="Estado">
                    <option value="">Selecione</option>
                    <option value="SP">São Paulo</option>
                    <option value="PE">Pernambuco</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cidade">Cidade:</label>
                <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Logradouro">Logradouro:</label>
                <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">E-mail:</label>
                <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Telefone">Telefone:</label>
                <input required="required" type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2020-3030" maxlength="15">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                @{
                    var bo = new BoBeneficiario();
                    var beneficiarios = bo.Listar();
                }
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#beneficiarioModal">Beneficiarios</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>
</form>

<div class="modal fade" tabindex="-1" id="beneficiarioModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Cpf">CPF:</label>
                            <input class="form-control" placeholder="Ex.:45667581841" type="text" id="BeneCpf" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Nome">Nome:</label>
                            <input class="form-control" placeholder="Ex.:João da Silva" type="text" id="BeneNome" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group text-center" style="margin:0; padding:23px">
                            <button type="submit" class="btn btn-sm btn-success">Incluir</button>
                        </div>
                    </div>

                    <input class="form-control invisible" type="text" id="BeneId" />
                    <input class="form-control invisible" type="text" id="BeneIdCliente" value="@Request.QueryString["Id"]" />

                    <div class="form-group">
                        <table class="table" id="tabela">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">CPF</th>
                                    <th scope="col">Nome</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                @foreach (var beneficiario in beneficiarios.Where(w => w.IdCliente == Convert.ToInt32(Request.QueryString["Id"])))
                                {
                                    <tr id="trInclusao">
                                        <td id="tdCpf">@beneficiario.Cpf</td>
                                        <td id="tdNome">@beneficiario.Nome</td>
                                        <td id="tdId" class="invisible">@beneficiario.Id</td>
                                        <td id="tdIdCliente" class="invisible">@beneficiario.IdCliente</td>
                                        <td><button type="button" class="btn btn-sm btn-info" onclick="alterarBeneficiario(this)">Alterar</button></td>
                                        <td><button type="button" class="btn btn-sm btn-info" onclick="excluirBeneficiario(this)">Excluir</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
